.main{
    gap: 20px;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start; 
    background: linear-gradient(255.82deg, #ffffff 0%, #eeeeee 100%);
  }